@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    min-height: 100vh;
}

.process-circle {
    --w: 60;
    --p: 0;
    fill: none;
    stroke: #52cd9f;
    stroke-width: 16px;
    stroke-dasharray: 472;
    stroke-dashoffset: calc(472 - 472 * var(--w) / 100);
    transform: rotate(calc(var(--p) * 3.6deg))
        translateY(calc(50% - var(--w) / 2));
}
